/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
.home .hero img
  max-width 450px!important

img[alt*="diodo"]
  display: block;
  margin-left: auto;
  margin-right: auto;
  width 300px!important
  height 300px!important

iframe
  width 100%!important
